<!DOCTYPE html>
<html>
  <head>
    <title>Weather Information</title>
    <style>
      body{
        background: #16222A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color:white;
       }

      .main{
        border-radius: 25px;
      }
      .details{
        border-radius: 25px;
      }
      .main{
        border :3px solid black;
        padding:1%;
        width:25%;
        background: #16222A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

       
        color:rgb(255, 255, 255);
        box-shadow: 3px 5px #ffffff36;
        text-shadow: 2px 2px #000000;
        
      }
        button {
          border-radius:25px;
          font-size:large;
          background-color: rgb(48, 49, 49);
          color:white;
          box-shadow:2px 5px #ffffff36;
        }
        .box1{
          display: flex;
          flex-direction: row;
          align-items: end;
          justify-content: flex-start;
        }
        .details{
          border: 3px solid black;
          width:25%;
          color:rgb(255, 255, 255);
          box-shadow: 4px 6px #ffffff36;
        text-shadow: 3px 2px #000000;
        background: #16222A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
        input{
          border-radius: 25px;
        }
        a{
          text-decoration: none;
          margin-left: 90%;
          color: blue;
        }
        #hi{
          font-size: larger;
          color: gold;
          font-style: italic;
        }
        #no{
          font-size: larger;
          color: red;
        }
        .recentSearch{
          margin:17px;
          border-radius: 10px;
          padding:17px;
          border: 1px solid black;
          color:rgb(255, 255, 255);
          box-shadow: 4px 2px 2px 2px #ffffff36;
        text-shadow: 3px 2px #000000;
        background: #16222A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


        }
        
    </style>
  </head>
<body>
  <div class="box1">
  <span id="hi"><%=hello%></span><span><a href="http://localhost:3000/"><button>Logout</button></a></span>
  </div>
  <center>
  <div class="main">
  <form method="post" action="/login/thirdpage">
    <h2>Welcome to weather forecast</h2>
    <h3>Enter name of city to know weather conditions</h3>
    <input type="text" name="place" placeholder="Enter name of city">
    <br><br><button id="but">Submit</button> </form></div></center>
    <br><br>
  <center>    
    <div class="details">
      <h3>The deatils are here</h3>
      <h4>City:<%=city%> </h4>
      <h4>Temperature: <%=temp%> °C</h4>
      <span id="no"><%=nofound%></span>
    </div>
  </center>
  <center>
  <h3>Recent search:</h3>
  <h4 class="recentSearch"><%=userPlaces%></h4>
  </center>
    
    
  
</body>
</html>
